* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 92, 138);
    height: 100vh;
}

.novo-body {
    background-color: rgb(38, 204, 5);
}

main {
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(146, 146, 146);
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px rgb(68, 68, 68);

}

h1 {
    display: none;
<<<<<<< HEAD
    color: rgb(206, 3, 3);
=======
    color: rgb(161, 6, 6);
>>>>>>> 9d4cd76d9a35bed2dc107bf12f8c60a0c09354ae
    font-weight: 900;
    font-size: 100px;
    margin-bottom: 100px;
  
}

canvas {
    margin-top: 50px;
    box-shadow: 0 0 10px rgb(63, 63, 63);
    border-radius: 20px;
    width: 500px;
    height: 300px;
    border: solid 10px rgb(73, 73, 73);
    background-image: url(R.jpg);
    background-size: cover;
    cursor: pointer;

}

section {
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.painel-controle {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.painel-segundos {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.velocidade {
    width: 200px;
    height: 60px;
    background-image: linear-gradient(-50deg, rgb(0, 235, 243), rgb(36, 182, 187), rgb(0, 242, 250), rgb(31, 190, 196), rgb(0, 247, 255), rgb(27, 195, 201));
    border: solid 5px rgb(99, 99, 99);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.63);
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.painel-botoes {
    width: 200px;
    display: flex;
    justify-content: space-around;

}

.caixa-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: rgb(97, 7, 7);
    border: solid 5px rgb(36, 6, 6);
    transform: rotateX(50deg);
    box-shadow: 0 20px 0 rgb(0, 0, 0);


}

.botao {
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 150px;
    border: solid 4px rgb(36, 6, 6);
    border-radius: 50%;
    background-color: rgb(186, 6, 6);
    color: white;
    transition: transform 0.1s;
    margin-bottom: 5px;
    cursor: pointer;


}

.botao:active {
    transform: scale(0.9);

}



.baixar,
.aumentar {
    width: 90px;
    height: 90px;
    background-color: rgb(97, 7, 7);
    border: solid 4px rgb(36, 6, 6);
    border-radius: 50%;
    font-weight: bold;
    color: white;
    transform: rotateX(40deg);
    box-shadow: 0 14px 0 rgb(0, 0, 0);
    text-shadow: 0 2px 0 rgb(128, 128, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(50deg);

}

.sinal {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 4px rgb(36, 6, 6);
    background-color: rgb(186, 6, 6);
    font-size: 45px;
    padding-right: 3px;
    margin-bottom: 5px;
    cursor: pointer;

}




.sinal:active {
    transform: scale(0.9);
}
